@charset "UTF-8";
:root {
  --Primary: #ff4d4d;
  --Primary-dark: #330000;
}

/*
Media Queries
1200px => 75em
1100   => 68.75em
840    => 52.5em
673    => 42.0625em
415    => 25.9375em
*/
* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--Primary);
}

.header {
  flex-wrap: wrap;
}
.header__logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.header__logo__svg {
  height: 5rem;
  width: 5rem;
  fill: var(--Primary-dark);
}
.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%;
}
@media only screen and (max-width: 25.9375em) {
  .header__search {
    order: 1;
    flex: 0 0 100%;
  }
}
.header__search__input {
  width: 90%;
  padding: 0.5rem;
  margin-right: -2.5rem;
  border-radius: 2rem;
  border: 2px solid silver;
}
.header__search__input:focus {
  width: 100%;
  outline: none;
  border: 2px solid black;
}
.header__search__svg {
  height: 2rem;
  width: 2rem;
  fill: silver;
  outline: none;
  cursor: pointer;
}
.header__search__svg:hover {
  fill: black;
}
.header__icons {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.header__icons > * {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.header__icons > *:hover {
  background-color: antiquewhite;
}
.header__icons__bookmark {
  height: 3rem;
  width: 3rem;
  fill: violet;
}
.header__icons__mail {
  height: 3rem;
  width: 3rem;
  fill: violet;
}
.header__icons__user {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__icons__user__name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 0.5rem;
}
.header__icons__notifications {
  font-size: 1.3rem;
  font-weight: 900;
  height: 2rem;
  width: 2rem;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.4rem;
  left: 3rem;
}

.sidebar__nav {
  font-size: 1.2rem;
  list-style-type: none;
  margin-top: 4rem;
}
.sidebar__nav__item {
  position: relative;
}
@media only screen and (max-width: 52.5em) {
  .sidebar__nav__item {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  .sidebar__nav__item:not(:last-child) {
    margin-right: 1rem;
  }
}
.sidebar__nav__item:not(:last-child) {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 52.5em) {
  .sidebar__nav__item:not(:last-child) {
    margin-bottom: 0rem;
  }
}
.sidebar__nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  height: 100%;
  width: 0.3rem;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.sidebar__nav__item:hover::before, .sidebar__nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.sidebar__nav__item:active::before {
  background-color: rgb(248, 66, 66);
}
.sidebar__nav__link:link, .sidebar__nav__link:visited {
  padding: 2rem 4rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 42.0625em) {
  .sidebar__nav__link:link, .sidebar__nav__link:visited {
    flex-direction: column;
    padding: 1rem;
  }
}
.sidebar__nav__icons {
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
  fill: currentColor;
}
@media only screen and (max-width: 42.0625em) {
  .sidebar__nav__icons {
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
}
.sidebar__footer {
  font-size: 1.06rem;
  font-weight: bolder;
  color: #fff;
  margin: 0 auto;
}

.overview {
  flex-wrap: wrap;
}
.overview__heading {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--Primary);
  letter-spacing: 0.2rem;
  padding: 1rem;
}
@media only screen and (max-width: 52.5em) {
  .overview__heading {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 34.375em) {
  .overview__heading {
    font-size: 2rem;
    margin-left: 0;
  }
}
@media only screen and (max-width: 25.9375em) {
  .overview__heading {
    margin-right: auto;
  }
}
.overview__stars {
  display: flex;
  margin-right: auto;
}
.overview__stars svg {
  fill: var(--Primary-dark);
}
@media only screen and (max-width: 25.9375em) {
  .overview__stars {
    display: none;
  }
}
.overview__location {
  display: flex;
  align-items: center;
}
.overview__location__icon {
  margin-right: 5px;
}
.overview__stars__icon, .overview__location__icon {
  height: 1.9rem;
  width: 1.9rem;
  fill: var(--Primary-dark);
}
@media only screen and (max-width: 34.375em) {
  .overview__stars__icon, .overview__location__icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}
.overview__rating {
  background-color: red;
  color: #fff;
  margin-left: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.overview__rating__average {
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.overview__rating__count {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.description__list {
  list-style-type: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 25.9375em) {
  .description__list {
    flex-direction: column;
  }
}
.description__list__items {
  font-weight: 600;
  flex: 0 0 50%;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 25.9375em) {
  .description__list__items {
    flex: 0 0 100%;
  }
}
.description__list__items::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  background-color: rebeccapurple;
  -webkit-mask-image: url(img/ctrl.svg);
          mask-image: url(img/ctrl.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
  transform: rotate(90deg);
}

.recommend {
  display: flex;
  align-items: center;
  justify-content: center;
}
.recommend__count {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: auto;
}
.recommend__friends {
  display: flex;
}
.recommend__friends__img {
  outline: 3px solid white;
  height: 3rem;
  width: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.recommend__friends__img:not(:last-child) {
  margin-right: -0.5rem;
}

.review {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 2rem;
  margin: 1rem;
  overflow: hidden;
  text-align: start;
}
.review__photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.review__text {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 2rem;
  z-index: 15;
  position: relative;
}
.review__user {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.review__user-box {
  margin-right: auto;
}
.review__user-name {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}
.review__user-date {
  font-size: 1rem;
}
.review__rating {
  font-size: 2.2rem;
}
.review::before {
  content: "“";
  position: absolute;
  font-size: 20rem;
  color: rgba(186, 186, 199, 0.342);
  top: -4rem;
  left: -0.9rem;
  font-family: sans-serif;
  z-index: 1;
}
.review__btn {
  margin: 3rem;
}
.review__btn button {
  padding: 0.5rem;
  border-radius: 1px;
  background-color: transparent;
  outline: none;
  border: 2px solid black;
}
.review__btn .pulsate__link {
  font-size: 1.7rem;
}

.pulsate__link {
  color: rgb(121, 4, 4);
  font-size: 1.8rem;
  text-decoration: none;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
.pulsate__link span {
  margin-left: 0.5rem;
  transition: margin-left 0.2s ease-in-out;
}
.pulsate__link:hover {
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}
.pulsate__link:hover span {
  margin-left: 1rem;
}
@media only screen and (max-width: 34.375em) {
  .pulsate__link {
    font-size: 1.2rem;
  }
}

.cta__heading {
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.cta__btn {
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to right, var(--Primary), var(--Primary-dark));
  border-radius: 5rem;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}
.cta__btn > * {
  display: inline-block;
  transition: all 0.3s;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 52.5em) {
  .cta__btn > * {
    font-size: 2rem;
  }
}
.cta__btn__visible {
  padding: 1rem 7.5rem;
}
@media only screen and (max-width: 52.5em) {
  .cta__btn__visible {
    padding: 1rem 5rem;
  }
}
.cta__btn__invisible {
  padding: 1rem;
  position: absolute;
  top: -100%;
  left: 0;
}
@media only screen and (max-width: 52.5em) {
  .cta__btn__invisible {
    font-size: 1.9rem;
  }
}
.cta__btn:hover {
  background-image: linear-gradient(to right, var(--Primary-dark), var(--Primary));
}
.cta__btn:hover .cta__btn__visible {
  transform: translateY(100%);
}
.cta__btn:hover .cta__btn__invisible {
  top: 0;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.container {
  background-color: #fff;
  margin: 8rem auto;
  max-width: 120rem;
  box-shadow: 0.3rem 0.3rem 2rem rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  border-bottom: 1px solid black;
}
@media only screen and (max-width: 25.9375em) {
  .header {
    height: 10rem;
  }
}

.content {
  display: flex;
}
@media only screen and (max-width: 52.5em) {
  .content {
    flex-direction: column;
    margin: 0;
  }
}

.sidebar {
  background-color: var(--Primary-dark);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid black;
}
@media only screen and (max-width: 52.5em) {
  .sidebar__nav {
    display: flex;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 52.5em) {
  .sidebar__footer {
    display: none;
    margin: 0;
  }
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.gallery {
  display: flex;
}
.gallery__item {
  width: 100%;
}
.gallery__photo {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20rem;
}

.overview {
  background-color: #fff;
  display: flex;
  align-items: center;
}

.detail {
  display: flex;
  text-align: start;
  padding: 2rem;
  font-size: 1.4rem;
  background-color: rgba(255, 204, 204, 0.3098039216);
}
@media only screen and (max-width: 52.5em) {
  .detail {
    padding: 1rem;
  }
}
@media only screen and (max-width: 42.0625em) {
  .detail {
    flex-direction: column;
  }
}

.description {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  flex: 0 0 60%;
  margin: 1rem;
  padding: 3rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description__para:not(:last-of-type) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 42.0625em) {
  .description {
    margin: 2rem;
  }
}

.user-reviews {
  flex: 1;
  text-align: center;
}
@media only screen and (max-width: 42.0625em) {
  .user-reviews {
    margin: 1rem;
  }
}

.cta {
  background-color: #fff;
  text-align: center;
  padding: 4rem 0;
}/*# sourceMappingURL=main.css.map */